PyQt6
attrs
cryptography
ezdxf
numpy
shapely
scipy
cadquery
pyvista
pyvistaqt
vtk
geolysis
openseespy

# Private/internal dependency used by some 3D analysis code.
# Install this from your internal source if those features are required.
# fea_viewer